h1{text-align:center;color:white;}
body{background-color:blue;}
.para{text-align:center;color:white;}
.nn{color:green; text-align:left;margin:30px;}
.mm{color:white;margin:30px;}
.zara{text-align:left;line-height:2;margin:30px;color:white;}